#app-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}   

header {
   display:flex;
   flex-direction:column;
   align-items: center;
   margin: 15px 0px 15px 0px;

   h1 {
    margin-top:20px;
    font-family: "Bodoni 72","Times New Roman","serif";
    font-size:2rem;
   }
}

#form-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}


.mat-button {
    margin-bottom:15px;
    width:150px;
    height:40px;
    
}

footer {
    background: lightgray;
    color:#0039A6 ;
    border:ridge 5px;
    border-radius:15px;
    margin:auto;
    padding:20px 40px;

    a {
        color:#0039A6 ;
        font-weight: 700;

    }
}
