<div id="app-wrapper">
    <header>

        <h1>Select a dashboard to view</h1>

       
        <div id="form-wrapper">

            <button class="mat-button" type="button" mat-raised-button (click)="toHome()">Home</button>
            
            <mat-form-field>
        
                <mat-label>
                    Select data
                </mat-label>
            
                <mat-select [(value)]="selectedData" (valueChange)="navigateTo()">
                    <mat-option value="ridership">
                        MTA Daily Ridership Data
                    </mat-option>
            
                    <mat-option value="felonies">
                        MTA Major Felonies
                    </mat-option>
            
                </mat-select>
            
            </mat-form-field>
        
        </div>
       
    </header>
    
    <router-outlet/>

</div>




