<div id="plot-wrapper">

    <div id="plot-header">

        <mat-form-field style="width:30vw;">
            <mat-label>
                Select 
            </mat-label>
            
            <mat-select [(value)]="selectedView"  (selectionChange)="applyChartUpdate()">
                @for (name of ridershipTypeNames; track name){
                    <mat-option [value]="name">{{ name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width:30vw;">
            <mat-label>
                Select year
            </mat-label>
            <mat-select [(value)]="selectedYear" (selectionChange)="applyChartUpdate()">
                @for (year of years; track year){
                    <mat-option [value]="year">{{ year }}</mat-option>
                }
            </mat-select>
    
            
        </mat-form-field>
    
        <button class="mat-button" type="button" mat-raised-button (click)="chart.resetZoom();">Reset Zoom</button>
    </div>

    <div style="width: 90vw;">
        <canvas id="ridershipPlot"></canvas>
    </div>

</div>

